.MuiInputBase-root {
  background-color: white !important;
  /* margin-top: 6px; */
}

.MuiInputBase-input {
  border-radius: 4px;
}

.MuiAutocomplete-inputRoot {
  padding-right: 0px !important;
}

#addressField {
  width: 450px;
  display: -webkit-inline-box;
}

#errorMessage {
  color: rgb(214, 3, 3);
  font-size: 12px;
  margin: 3px 0px 10px 0px;
  font-weight: bold;
}