.box {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  background: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}

.editBox {
  position: absolute;
  top: 50%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  width: 55%;
  padding: 2%;
  background: rgba(20, 20, 20, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}

.MuiTypography-body1 {
  color: rgba(210, 210, 210);
}

.Mui-disabled {
  color: rgb(167, 63, 63) !important;
}

#playlistImg {
  padding: 3px;
  background: rgb(51, 51, 51);
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.5),
    0px 0.5px 3px rgba(167, 167, 167, 0.3);
  width: 10%;
  height: 50px;
  border-radius: 5px;
  margin: 0% 7% -2.8% 8%;
}

#playlistEditImg {
  padding: 3px;
  background: rgb(51, 51, 51);
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.5),
    0px 0.5px 3px rgba(167, 167, 167, 0.3);
  width: 9%;
  height: 50px;
  border-radius: 5px;
  margin: 0% 6% -2.8% 8%;
}

#percentInput {
  width: 37px;
  border-radius: 5px;
  text-align: -webkit-center;
}

.MuiInput-root {
  border-radius: 5px;
}

#checkboxGroup {
  display: block;
  margin: 4% 2% 5% 2%;
}

.percentIcon {
  margin-right: 10px;
}

#genreLabel {
  color: rgb(210, 210, 210);
  font-size: large;
  text-align: left;
  display: inline-block;
  width: 50%;
  margin-top: 2.5%;
}

#generatorFormButtons {
  width: 25%;
  letter-spacing: 1px;
  padding: 12px 0 12px 0;
}

#editPlaylistButton {
  width: 21%;
  letter-spacing: 1px;
  padding: 12px 0 12px 0;
}