progress {
  display: block;
  width: 50%;
  margin: 1.8em auto;
  padding: 4px;
  border: 0 none;
  background: rgb(44, 44, 44);
  border-radius: 14px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.2);
}

progress::-moz-progress-bar {
  border-radius: 12px;
  background: #fff;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4),
    0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  progress {
    height: 25px;
  }
}

progress:before {
  content: attr(data-label);
  font-size: 1em;
  vertical-align: 0;
  color: rgb(233, 233, 233);

  /*Position text over the progress bar */
  position: absolute;
  margin: -3px 0 0 -15px;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  border-radius: 12px;
  transition: width 1.2s ease;
  background: #2ab10f;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4),
    0 2px 5px 0px rgba(0, 0, 0, 0.3);
}
