.card {
  background: #e8e9ec;
  position: relative;
  top: 120px;
  z-index: 2;
  overflow: hidden;
  border-radius: 25px;
  animation: card 1.5s forwards;
  transition-timing-function: ease-in-out;
}

@keyframes card {
  0% {
    opacity: 0.8;
    width: 50%;
    left: 25%;
    height: 0px;
    background: #e8e9ec;
  }
  100% {
    opacity: 1;
    width: 50%;
    left: 25%;
    height: 410px;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  }
}

.avatar {
  width: 110px;
  height: 110px;
  background: url(https://images.unsplash.com/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=275&ixlib=rb-0.3.5&q=80&w=400)
    no-repeat center center #fff;
  border-radius: 100%;
  border: 4px solid rgb(121, 117, 117);
  position: absolute;
  z-index: 5;
  left: 50%;
  margin-left: -55px;
  opacity: 0;
  animation: avatar 3s forwards;
  animation-delay: 1s;
  transition-timing-function: ease-in-out;
}

@keyframes avatar {
  0% {
    opacity: 0;
    top: 1000px;
  }
  50% {
    opacity: 1;
    top: 125px;
  }
  100% {
    opacity: 1;
    top: 125px;
  }
}

.cover {
  background: url(https://images.unsplash.com/photo-1443527216320-7e744084f5a7?fit=crop&fm=jpg&h=800&ixlib=rb-0.3.5&q=80&w=1200)
    no-repeat center center;
  /* background: #C70039; */
  position: absolute;
  opacity: 0;
  animation: cover 1.8s forwards;
  animation-delay: 0.9s;
  transition-timing-function: ease-in-out;
}

@keyframes cover {
  0% {
    opacity: 0;
    top: 40%;
    left: 50%;
    width: 0px;
    border-radius: 100%;
  }
  100% {
    opacity: 1;
    top: -25%;
    left: 0%;
    width: 100%;
    height: 505px;
    border-radius: 5%;
  }
}

.userinfomain {
  width: 100%;
  height: 240px;
  background: #e8e9ec;
  position: absolute;
  top: 180px;
  left: 0;
  z-index: 2;
}

.infoName,
.infoMail {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.infoName {
  width: 100%;
  color: #38393b;
  text-align: center;
  font-size: 1.6em;
  letter-spacing: 2px;
  opacity: 0;
  z-index: 2;
  position: absolute;
  animation: username 1s forwards;
  animation-iteration-count: 1;
  animation-delay: 1.8s;
  transition-timing-function: ease-in-out;
}

@keyframes username {
  0% {
    opacity: 0;
    top: 120px;
  }
  100% {
    opacity: 1;
    top: 65px;
  }
}

.infoMail {
  width: 100%;
  color: #434449;
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 300;
  opacity: 0;
  z-index: 2;
  position: absolute;
  animation: email 0.6s forwards;
  animation-iteration-count: 1;
  animation-delay: 2.2s;
  transition-timing-function: ease-in-out;
}

@keyframes email {
  0% {
    opacity: 0;
    top: 160px;
  }
  100% {
    opacity: 1;
    top: 98px;
  }
}

.divider {
  height: 2px;
  background: #787a80;
  position: relative;
  top: 320px;
  left: 9%;
  z-index: 4;
  opacity: 0;
  animation: divider 1s forwards;
  animation-iteration-count: 1;
  animation-delay: 2.4s;
  transition-timing-function: ease-in-out;
}

@keyframes divider {
  0% {
    opacity: 1;
    width: 0px;
    left: 50%;
  }
  100% {
    opacity: 1;
    width: 80%;
  }
}

.socialinfo {
  position: absolute;
  width: 100%;
  z-index: 3;
  opacity: 0;
  animation: socialinfo 0.6s forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
  transition-timing-function: ease-in-out;
}

@keyframes socialinfo {
  0% {
    opacity: 0;
    width: 100%;
    bottom: -20px;
  }
  100% {
    opacity: 1;
    width: 100%;
    bottom: 10px;
  }
}

.socialone,
.socialtwo,
.socialthree {
  opacity: 0;
  position: absolute;
  text-align: center;
  animation: socialinfo 0.6s forwards;
}

.socialone {
  left: -120px;
  animation-delay: 2.6s;
}

.socialtwo {
  animation-delay: 2.8s;
}

.socialthree {
  left: 120px;
  animation-delay: 3s;
}

.socialtext,
.socialheading {
  font-family: "Roboto", sans-serif;
}

.socialtext {
  color: #3e434e;
  font-weight: 700;
  font-size: 1.5em;
}

.socialheading {
  color: #434449;
  font-weight: 300;
  font-size: 0.8em;
}
